<a href="https://colab.research.google.com/github/zoobe125/20230205-Python/blob/main/20230304.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **抓取網頁原始碼** - requests

In [51]:
# 抓取資料
import requests

In [3]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [4]:
r = requests.get(url)

In [5]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <title>HTML範例</title>
</head>
<body>

<h1>哈囉！HTML！</h1>

<img src="ninja.jpg" />

</body>
</html>

## 抓取Ajax網頁資料

### 從非Ajax的網頁上,可以直接看到資料

In [6]:
url = "https://victorgau.github.io/khpy_web_intro/spy.html"

In [7]:
r = requests.get(url)

In [13]:
r.request.headers

{'User-Agent': 'python-requests/2.25.1', 'Accept-Encoding': 'gzip, deflate', 'Accept': '*/*', 'Connection': 'keep-alive'}

In [14]:
r.headers

{'Connection': 'keep-alive', 'Content-Length': '944', 'Server': 'GitHub.com', 'Content-Type': 'text/html; charset=utf-8', 'permissions-policy': 'interest-cohort=()', 'Last-Modified': 'Sat, 09 Oct 2021 21:20:24 GMT', 'Access-Control-Allow-Origin': '*', 'ETag': 'W/"61620798-c24"', 'expires': 'Sat, 04 Mar 2023 02:09:51 GMT', 'Cache-Control': 'max-age=600', 'Content-Encoding': 'gzip', 'x-proxy-cache': 'MISS', 'X-GitHub-Request-Id': 'B392:3527:1A00B2:222E09:6402A617', 'Accept-Ranges': 'bytes', 'Date': 'Sat, 04 Mar 2023 02:04:01 GMT', 'Via': '1.1 varnish', 'Age': '217', 'X-Served-By': 'cache-iad-kiad7000053-IAD', 'X-Cache': 'HIT', 'X-Cache-Hits': '1', 'X-Timer': 'S1677895442.820427,VS0,VE1', 'Vary': 'Accept-Encoding', 'X-Fastly-Request-ID': '2013d57dd09f1371b535806bd86ec221e2232d4d'}

In [ ]:
print(r.text)

### 從非Ajax的網站,可能看不到資料

In [9]:
url = "https://victorgau.github.io/khpy_web_intro/spy_ajax.html"

In [10]:
r = requests.get(url)

In [12]:
print(r.text)

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>HTML範例</title>
</head>
<body>
  <div class="container">
    <h1>SPY股價</h1>
  </div>
    <div class="container">
<table border="1" class="dataframe table table-striped">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Open</th>
      <th>High</th>
      <th>Low</th>
      <th>Close</th>
      <th>Adj Close</th>
      <th>Volume</th>
    </tr>
    <tr>
      <th>Date</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>2021-07-26</th>
      <td>439.309998</td>
      <td>441.029999</td>
      <td>439.260010</td>
      <td>441.019989</td>
      <td>441.019989</td>
      <td>43719200</td>
    </tr>
    <tr>
      <th>2021-07-27</th>
      <td>439.910004</td>
      <td>439.940002</td>
      <td>435.989990</td>
      <td>439.010010</td>
      <td>439.010010</td>
      <td>67397100</td>
    </tr>
    <tr>
      <th>2021-07-28</th>
      <td>439.679993</td>
      <td>440.299988</td>
      <td>437.309998</td>
      <td>438.829987</td>
      <td>438.829987</td>
      <td>52472400</td>
    </tr>
    <tr>
      <th>2021-07-29</th>
      <td>439.820007</td>
      <td>441.799988</td>
      <td>439.809998</td>
      <td>440.649994</td>
      <td>440.649994</td>
      <td>47435300</td>
    </tr>
    <tr>
      <th>2021-07-30</th>
      <td>437.910004</td>
      <td>440.059998</td>
      <td>437.769989</td>
      <td>438.510010</td>
      <td>438.510010</td>
      <td>68890600</td>
    </tr>
    <tr>
      <th>2021-08-02</th>
      <td>440.339996</td>
      <td>440.929993</td>
      <td>437.209991</td>
      <td>437.589996</td>
      <td>437.589996</td>
      <td>58783300</td>
    </tr>
    <tr>
      <th>2021-08-03</th>
      <td>438.440002</td>
      <td>441.279999</td>
      <td>436.100006</td>
      <td>441.149994</td>
      <td>441.149994</td>
      <td>58053900</td>
    </tr>
    <tr>
      <th>2021-08-04</th>
      <td>439.779999</td>
      <td>441.119995</td>
      <td>438.730011</td>
      <td>438.980011</td>
      <td>438.980011</td>
      <td>46732200</td>
    </tr>
    <tr>
      <th>2021-08-05</th>
      <td>440.220001</td>
      <td>441.850006</td>
      <td>439.880005</td>
      <td>441.760010</td>
      <td>441.760010</td>
      <td>38969700</td>
    </tr>
    <tr>
      <th>2021-08-06</th>
      <td>442.100006</td>
      <td>442.940002</td>
      <td>441.799988</td>
      <td>442.489990</td>
      <td>442.489990</td>
      <td>46864100</td>
    </tr>
  </tbody>
</table>

</div>
</body>
</html>

In [30]:
url = "https://victorgau.github.io/khpy_web_intro/spy.json"

In [31]:
data = requests.get(url).json()

In [33]:
df = pd.read_json(url)

In [34]:
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-07-26,439.309998,441.029999,439.260010,441.019989,441.019989,43719200
1,2021-07-27,439.910004,439.940002,435.989990,439.010010,439.010010,67397100
2,2021-07-28,439.679993,440.299988,437.309998,438.829987,438.829987,52472400
3,2021-07-29,439.820007,441.799988,439.809998,440.649994,440.649994,47435300
4,2021-07-30,437.910004,440.059998,437.769989,438.510010,438.510010,68890600

## 關於 pandas 的 read_html()

In [21]:
import pandas as pd

In [26]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"

In [27]:
dfs = pd.read_html(url)

In [28]:
type(dfs)

list

In [29]:
dfs[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

# **剖析網頁原始碼** - BeautifulSoup

In [38]:
# 拷貝網頁原始碼,使用 """ 貼上多行字串
s = """
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>範例索引</title>
</head>
<body>
    <div class="container">
        <div class="row my-5">
            <div class="col">
                <h1 class="bg-warning p-3 rounded">Web及爬蟲簡介課程範例</h1>

                <ul class="list-group">
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>
                    <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>
                </ul>         
            </div>
    
        </div>
    </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>"""

In [27]:
type(s)

str

### 使用BeautifulSoup

In [67]:
# 載入
from bs4 import BeautifulSoup

In [68]:
soup = BeautifulSoup(s)

In [30]:
soup.h1

In [31]:
soup.h1.text

'Web及爬蟲簡介課程範例'

In [32]:
soup.li

In [33]:
soup.li.text

' HTML 範例'

In [34]:
# 選取所有"li"的資料
soup.select("li")

[<li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_only.html">HTML 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css.html">HTML + CSS 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-globe"></i> <a href="html_css_javascript.html">HTML + CSS + Javascript 範例</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example01.html">example01.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example02.html">example02.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example03.html">example03.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example04.html">example04.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="example05.html">example05.html (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy.html">Classic HTML 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="spy_ajax.html">Ajax 範例 (爬蟲抓取用範例)</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_get.html">HTTP GET 方法說明</a></li>,
 <li class="list-group-item"><i class="bi bi-bug"></i> <a href="form_post.html">HTTP POST 方法說明</a></li>]

In [35]:
# 抓取第一份資料
soup.select("li")[0]

In [36]:
# 第一份資料文字部分
soup.select("li")[1].text

' HTML + CSS 範例'

In [66]:
# 抓取所有"li"資料的文字部分 - X錯誤示範
soup.select("li").text

AttributeError: ignored

In [65]:
# 使用for迴圈抓取所有"li"資料的文字部分
for x in soup.select("li"):
  print(x.text)

In [64]:
# 標號
for i, x in enumerate(soup.select("li")):
  print(i, ":", x.text)

In [63]:
# 字串格式化
for i, x in enumerate(soup.select("li")):
  print(f"{i:2}: {x.text}")

# 關於字串格式化

In [174]:
x = 1
y = 1.23
z = True
w = "dog"

In [175]:
print(x,y,z,w)

1 1.23 True dog

In [176]:
print(x,y,z,w,sep="")

11.23Truedog

In [177]:
print(x,y,z,w,sep="+")

1+1.23+True+dog

## 字串格式化的方式
* f-string(3.5+)
* string.format

### f-string(3.5+)

In [178]:
# f-string
print(f"{x},{y},{z},{w}")

1,1.23,True,dog

In [179]:
# 非f-string
print({x},{y},{z},{w})

{1} {1.23} {True} {'dog'}

In [180]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x:5}, {y}, {z}, {w}")
print(f"{x:05}, {y}, {z}, {w}")

1, 1.23, True, dog
    1, 1.23, True, dog
00001, 1.23, True, dog

In [181]:
# 7.2f->浮點數
print(f"{x}, {y}, {z}, {w}")
print(f"{x}, {y:7.2f}, {z}, {w}")
print(f"{x}, {y:07.2f}, {z}, {w}")

1, 1.23, True, dog
1,    1.23, True, dog
1, 0001.23, True, dog

In [182]:
print(f"{x}, {y}, {z}, {w}")
print(f"{x}, {y}, {z}, {w:10}")
print(f"{x}, {y}, {z}, {w:>10}")

1, 1.23, True, dog
1, 1.23, True, dog
1, 1.23, True,        dog

### string.format

In [183]:
print("{},{},{},{},{}".format(x,y,z,w))

IndexError: ignored

In [184]:
print("{},{},{}".format(x,y,z,w))

1,1.23,True

In [187]:
print("{0},{1},{2},{1}".format(x,y,z,w))

1,1.23,True,1.23

In [186]:
print("{a}, {b}, {c}, {d}".format(a=x, b=y, c=z, d=w))

1, 1.23, True, dog

#### 練習

In [ ]:
u = 3.1415926

In [ ]:
print(f"{u:07.2f}")

In [ ]:
print(f"{u:07.5f}")

In [ ]:
print(f"{u:07.2}")

In [ ]:
print(f"{u:07.5}")

#### 練習

https://stackoverflow.com/questions/53908134/what-is-20-format-string-meaning-in-python

In [ ]:
popularity = [["Language", 2017, 2012, 2007, 2002, 1997, 1992, 1987], 
          ["Java", 1, 2, 1, 1, 15, 0, 0],
          ["C", 2, 1, 2, 2, 1, 1, 1],
          ["C++", 3, 3, 3, 3, 2, 2, 5],
          ["C#", 4, 4, 7, 13, 0, 0, 0],
          ["Python", 5, 7, 6, 11, 27, 0, 0],
          ["Visual Basic .NET", 6, 17, 0, 0, 0, 0, 0],
          ["PHP", 7, 6, 4, 5, 0, 0, 0],
          ["JavaScript", 8, 9, 8, 7, 23, 0, 0],
          ["Perl", 9, 8, 5, 4, 4, 10, 0]]

format_string = "{:<20}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}  {:>4}"

In [ ]:
# 文字格式化
for i in popularity:
  print(format_string.format(i[0], i[1], i[2], i[3], i[4], i[5], i[6], i[7]))

In [ ]:
# (上)文字格式化簡化
for i in popularity:
  print(format_string.format(*i))

## 使用 css selector 來剖析資料

https://www.w3schools.com/cssref/css_selectors.php

In [ ]:
url = "https://www.w3schools.com/cssref/css_selectors.php"

In [ ]:
import requests

In [ ]:
r = requests.get(url)

In [ ]:
soup = BeautifulSoup(r.text)

In [ ]:
soup.select("li")

## 抓取露天拍賣資料

https://www.ruten.com.tw/category/0011

In [ ]:
url ="https://www.ruten.com.tw/category/0011"

In [ ]:
# 偽裝瀏覽器
headers = {'user-agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/110.0.0.0 Safari/537.36'}

In [ ]:
r = requests.get(url, headers=headers)

In [ ]:
'凸頭' in r.text

In [ ]:
url = "https://rapi.ruten.com.tw/api/items/v2/list?gno=21203073884581,21203073855084,22243606777400,22244608865692,22302937500980,22306987134735,22308073518043,22134699516389,22238403273488,21945822081428,22115680698839&level=detail"

In [ ]:
data = requests.get(url, headers=headers).json()

In [ ]:
data

In [ ]:
type(data)

In [ ]:
data.keys()

In [ ]:
type(data['data'])

In [ ]:
data['data'][0].keys()

In [ ]:
len(data['data'])

In [ ]:
for i in data['data']:
  print(f"{i['name']}:{i['goods_price_range']}")

## 抓取政府電子採購網資料

In [ ]:
url = "https://web.pcc.gov.tw/prkms/tender/common/bulletion/readBulletion?querySentence=%E9%9B%BB%E8%85%A6&tenderStatusType=%E6%8B%9B%E6%A8%99&sortCol=TENDER_NOTICE_DATE&timeRange=112&pageSize=10"

In [ ]:
import pandas as pd

In [ ]:
dfs = pd.read_html(url, encoding='utf-8')

In [ ]:
dfs[4]

In [ ]:
dfs[4]['標案案號標案名稱'][0]

## 讀取政府資料開放平台實價登錄資料

e.g.:

https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv

In [188]:
url = "	https://data.kcg.gov.tw/dataset/d7bfc353-1617-42d8-a0e3-3cd2d99edb10/resource/20387f3d-6970-40a4-86f0-a5c33546e75d/download/111q2.csv"

In [189]:
df = pd.read_csv(url)

URLError: ignored

In [ ]:
df.head()

### 將 DataFrame 轉存成不同格式

In [ ]:
# 將Data Frame轉乘excel格式
df.to_excel('實價登錄資料.xlsx')

In [ ]:
# 擷取資料數目100筆.html
df.head(100).to_html('實價登錄前一百筆資料.html')

In [ ]:
# 擷取資料數目100筆.json
df.head(100).to_json('實價登錄前一百筆資料.json')

## 檔案的IO

### 文字檔

一般作法：

```python
f = open('test.txt', 'w')
f.write(data)
f.close()
```

替代性作法：
```python
with open('test.txt', 'w') as f:
  f.write(data)
```

In [ ]:
open?

### 二進位檔 (Binary Files)

譬如：圖片, excel檔等

一般作法：

```python
f = open('test.jpg', 'wb')
f.write(data)
f.close()
```

替代性作法：
```python
with open('test.jpg', 'wb') as f:
  f.write(data)
```

### 抓取網頁原始碼並存成文字檔

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/html_only.html"

In [ ]:
r = requests.get(url)

In [ ]:
with open('index.html', 'w') as f:
  f.write(r.text)

### 抓取圖片並存成圖片檔

In [ ]:
url = "https://victorgau.github.io/khpy_web_intro/ninja.jpg"

In [ ]:
r = requests.get(url)

In [ ]:
with open('ninja.jpg', 'wb') as f:
  f.write(r.content)

# 練習 Pandas 的使用

In [141]:
import numpy as np
import pandas as pd

## 準備資料

In [143]:
grades = np.random.randint(30, 101, (10, 4))

In [151]:
grades

array([[74, 76, 83, 63],
       [94, 41, 95, 89],
       [87, 99, 42, 60],
       [36, 67, 71, 32],
       [43, 92, 76, 48],
       [41, 58, 86, 40],
       [53, 75, 35, 95],
       [35, 31, 80, 43],
       [60, 54, 75, 66],
       [76, 73, 48, 61]])

In [145]:
df = pd.DataFrame(grades)

In [146]:
df

    0   1   2   3
0  74  76  83  63
1  94  41  95  89
2  87  99  42  60
3  36  67  71  32
4  43  92  76  48
5  41  58  86  40
6  53  75  35  95
7  35  31  80  43
8  60  54  75  66
9  76  73  48  61

In [149]:
df.columns = ['國文','英文','數學','理化']

In [150]:
df

   國文  英文  數學  理化
0  74  76  83  63
1  94  41  95  89
2  87  99  42  60
3  36  67  71  32
4  43  92  76  48
5  41  58  86  40
6  53  75  35  95
7  35  31  80  43
8  60  54  75  66
9  76  73  48  61

In [153]:
df.index = ["郭雅惠","陳欣虹","王孟修","李政勇",
            "陳仲燦","王寧東","楊雅名","藍冰啟","林玉亨","崔承睿"]

In [154]:
df

     國文  英文  數學  理化
郭雅惠  74  76  83  63
陳欣虹  94  41  95  89
王孟修  87  99  42  60
李政勇  36  67  71  32
陳仲燦  43  92  76  48
王寧東  41  58  86  40
楊雅名  53  75  35  95
藍冰啟  35  31  80  43
林玉亨  60  54  75  66
崔承睿  76  73  48  61

## 列出國文不及格的同學名單

In [155]:
# 列出國文成績
df['國文']

郭雅惠    74
陳欣虹    94
王孟修    87
李政勇    36
陳仲燦    43
王寧東    41
楊雅名    53
藍冰啟    35
林玉亨    60
崔承睿    76
Name: 國文, dtype: int64

In [156]:
# 判斷國文成績是否及格; True:不及格;False:及格
df['國文']<60

郭雅惠    False
陳欣虹    False
王孟修    False
李政勇     True
陳仲燦     True
王寧東     True
楊雅名     True
藍冰啟     True
林玉亨    False
崔承睿    False
Name: 國文, dtype: bool

In [157]:
#  篩選
df[df['國文']<60]

     國文  英文  數學  理化
李政勇  36  67  71  32
陳仲燦  43  92  76  48
王寧東  41  58  86  40
楊雅名  53  75  35  95
藍冰啟  35  31  80  43

## 列出國文跟英文都不及格的同學名單

In [159]:
# 判斷英文成績是否及格; True:不及格;False:及格
df['英文']<60

郭雅惠    False
陳欣虹     True
王孟修    False
李政勇    False
陳仲燦    False
王寧東     True
楊雅名    False
藍冰啟     True
林玉亨     True
崔承睿    False
Name: 英文, dtype: bool

In [160]:
# 使用 & (and) 連接兩個條件 (註: | (or))
df[(df['國文'] < 60) & (df['英文'] < 60)]

     國文  英文  數學  理化
王寧東  41  58  86  40
藍冰啟  35  31  80  43

## 計算總分及平均

In [161]:
df

     國文  英文  數學  理化
郭雅惠  74  76  83  63
陳欣虹  94  41  95  89
王孟修  87  99  42  60
李政勇  36  67  71  32
陳仲燦  43  92  76  48
王寧東  41  58  86  40
楊雅名  53  75  35  95
藍冰啟  35  31  80  43
林玉亨  60  54  75  66
崔承睿  76  73  48  61

In [164]:
df.sum()

國文    599
英文    666
數學    691
理化    597
dtype: int64

In [163]:
df.sum?

In [165]:
df.sum(axis=1)

郭雅惠    296
陳欣虹    319
王孟修    288
李政勇    206
陳仲燦    259
王寧東    225
楊雅名    258
藍冰啟    189
林玉亨    255
崔承睿    258
dtype: int64

In [166]:
df['總分'] = df.sum(axis=1)

In [167]:
df

     國文  英文  數學  理化   總分
郭雅惠  74  76  83  63  296
陳欣虹  94  41  95  89  319
王孟修  87  99  42  60  288
李政勇  36  67  71  32  206
陳仲燦  43  92  76  48  259
王寧東  41  58  86  40  225
楊雅名  53  75  35  95  258
藍冰啟  35  31  80  43  189
林玉亨  60  54  75  66  255
崔承睿  76  73  48  61  258

In [168]:
df.mean(axis=1)

郭雅惠    118.4
陳欣虹    127.6
王孟修    115.2
李政勇     82.4
陳仲燦    103.6
王寧東     90.0
楊雅名    103.2
藍冰啟     75.6
林玉亨    102.0
崔承睿    103.2
dtype: float64

In [169]:
df[['國文','英文','數學','理化']].mean(axis=1)

郭雅惠    74.00
陳欣虹    79.75
王孟修    72.00
李政勇    51.50
陳仲燦    64.75
王寧東    56.25
楊雅名    64.50
藍冰啟    47.25
林玉亨    63.75
崔承睿    64.50
dtype: float64

In [170]:
df['平均'] = df[['國文','英文','數學','理化']].mean(axis=1)

In [171]:
df

     國文  英文  數學  理化   總分     平均
郭雅惠  74  76  83  63  296  74.00
陳欣虹  94  41  95  89  319  79.75
王孟修  87  99  42  60  288  72.00
李政勇  36  67  71  32  206  51.50
陳仲燦  43  92  76  48  259  64.75
王寧東  41  58  86  40  225  56.25
楊雅名  53  75  35  95  258  64.50
藍冰啟  35  31  80  43  189  47.25
林玉亨  60  54  75  66  255  63.75
崔承睿  76  73  48  61  258  64.50

## 輸出成excel檔

In [172]:
df.to_excel('成績.xlsx')

## 找出名次

In [173]:
df.rank()

       國文    英文    數學    理化    總分    平均
郭雅惠   7.0   8.0   8.0   7.0   9.0   9.0
陳欣虹  10.0   2.0  10.0   9.0  10.0  10.0
王孟修   9.0  10.0   2.0   5.0   8.0   8.0
李政勇   2.0   5.0   4.0   1.0   2.0   2.0
陳仲燦   4.0   9.0   6.0   4.0   7.0   7.0
王寧東   3.0   4.0   9.0   2.0   3.0   3.0
楊雅名   5.0   7.0   1.0  10.0   5.5   5.5
藍冰啟   1.0   1.0   7.0   3.0   1.0   1.0
林玉亨   6.0   3.0   5.0   8.0   4.0   4.0
崔承睿   8.0   6.0   3.0   6.0   5.5   5.5

In [190]:
df['總分'].rank(ascending=False)

郭雅惠     2.0
陳欣虹     1.0
王孟修     3.0
李政勇     9.0
陳仲燦     4.0
王寧東     8.0
楊雅名     5.5
藍冰啟    10.0
林玉亨     7.0
崔承睿     5.5
Name: 總分, dtype: float64

In [191]:
df['名次'] = df['總分'].rank(ascending=False)

In [193]:
df

     國文  英文  數學  理化   總分     平均    名次
郭雅惠  74  76  83  63  296  74.00   2.0
陳欣虹  94  41  95  89  319  79.75   1.0
王孟修  87  99  42  60  288  72.00   3.0
李政勇  36  67  71  32  206  51.50   9.0
陳仲燦  43  92  76  48  259  64.75   4.0
王寧東  41  58  86  40  225  56.25   8.0
楊雅名  53  75  35  95  258  64.50   5.5
藍冰啟  35  31  80  43  189  47.25  10.0
林玉亨  60  54  75  66  255  63.75   7.0
崔承睿  76  73  48  61  258  64.50   5.5